
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h1>
        es el index de dashboard
    </h1>
    <button onclick="" asp-area="" asp-controller="configuracion" asp-action="index"> configuracion</button>
    <a class="nav-link text-dark" asp-area="" asp-controller="configuracion" asp-action="index">configuracion</a>
</div>