
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>
    Vista en configuracion
</h1>
<button asp-area="" asp-controller="formulario" asp-action="addUser"> Agregar </button>
<a class="nav-link text-dark" asp-area="" asp-controller="formulario" asp-action="addUser">Agregar</a>
<button>Eliminar</button>
